<%- include('../partials/header') %>

<h1 class="header center teal-text text-lighten-2">Comedians
    
</h1>
<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/QHZktNq.png"></div>
</div>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Pricey?</th>
      <th>Two Drink Minimum?</th>
      <th>Added by</th>
      <th>Upcoming Events</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% performers.forEach(function(p) { %>      
      <tr>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%= %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
      <% }); %>
    </tbody>
  </table><br>
  <div class="icon-block">
    <a href="/performers/new"><i class="material-icons left">add</i>ADD PERFORMER</a>
  </div>

<br><br><br><br><br>

<%- include('../partials/footer') %>