<%- include('../partials/header') %>

<h1 class="header center teal-text text-lighten-2">Comedians

</h1>
<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/Slbl0ad.png"></div>
</div>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Funny</th>
      <th>Touring?</th>
      <th>Fans</th>
      <!-- <th>Added by</th> -->
      <th>Upcoming Events</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% performers.forEach(function(p) { %>      
      <tr>
        <td><%=p.name%></td>
        <td><%=p.funny%></td>
        <td><%=p.touring%></td>
        <!-- <td></td> -->
        <!-- <td><createdby??????</td> -->
      </tr>
      <% }); %>
    </tbody>
  </table><br>
  <div class="icon-block">
    <a href="/performers/new"><i class="material-icons left">add</i>ADD PERFORMER</a>
  </div>

<br><br><br><br><br>

<%- include('../partials/footer') %>