<%- include('../partials/header') %>

<h1 class="header center text-lighten-2">Comedians

</h1>
<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/Slbl0ad.png"></div>
</div>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Funny</th>
      <th>Touring?</th>
      <th>You likey?</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% performers.forEach(function(p) { %>      
      <tr>
        <td><%=p.name%></td>
        <td><%=p.funny%></td>
        <td><%=p.touring%></td>
        <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a></td>
      </tr>
      <% }); %>
    </tbody>
  </table><br>
  <div class="icon-block">
    <a href="/performers/new"><i class="material-icons left">add</i>ADD PERFORMER</a>
  </div>

<br><br><br><br><br>

<%- include('../partials/footer') %>