<%- include('../partials/header') %>

<h1 class="header center teal-text text-lighten-2">Venues</h1>
<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/QHZktNq.png"></div>
</div>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Pricey?</th>
      <th>Two Drink Minimum?</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% venues.forEach(function(venue) { %>      
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.address %></td>
        <td><%= venue.priceTix %></td>
        <td><%= venue.twoDrink ? 'Yep' : 'Nah' %></td>
      </tr>
      <% }); %>
    </tbody>
  </table><br>
  <div class="icon-block">
    <a href="/venues/new"><i class="material-icons left">add</i>ADD VENUE</a>
  </div>

<br><br><br><br><br>

<%- include('../partials/footer') %>